.todolist {
    display: flex;
    flex-direction: column;
    background-color: rgb(255,193,83);
    padding: 10px;
}

.todolistTitle{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Papyrus, serif;
}

.todolistUnput {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.todoListItems{
    padding: 0;
}

.todolistItem{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.todolistItemButton{
    background: transparent;
    border: 1.5px solid rgb(255,193,83);
    color: white;
    font-size: 25px;
}

.todolistItemButton:hover {
    color: red;
    border-bottom: 1.5px solid red;
}

.todolistItemText{
    color: white;
    margin-left: 10px;
    font-family: Papyrus, serif;

}

.todolistItemText:hover{
    color: rgb(128,0,255);
    margin-left: 10px;
    font-family: Papyrus, serif;
    font-weight: bold;
}

.todolistFilterButton{
    color: white;
    background-color: rgb(255,193,83);
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    margin: 5px;
}
.todolistFilterButton:hover{
    color: white;
    background-color: rgb(128,0,255);
    border-color: white;
}